<div class="container main">
  <h1 class="page-header" ng-if="edit !== true">Create an object store</h1>
  <h1 class="page-header" ng-if="edit">Edit object store</h1>
  <div class="col-sm-8">
    <form class="form">
      <div class="form-group">
        <label class="control-label">Object store nickname</label>
        <input type="text" class="form-control" ng-model="provider.nickname"
          placeholder="Object store nickname">
      </div>
      <div class="form-group">
        <label class="control-label">Object store type</label>
        <select class="form-control" ng-model="provider" ng-disabled="edit"
            ng-options="provider.name for provider in providers">
          <option value="">Select an object store&hellip;</option>
        </select>
      </div>
      <div class="form-group">
        <label class="control-label">Object store identity</label>
        <input type="text" class="form-control" ng-model="provider.identity"
          ng-disabled="edit || provider === null" placeholder="API identity">
      </div>
      <div class="form-group">
        <label class="control-label">Object store credential</label>
        <input type="password" class="form-control" ng-model="provider.credential"
          placeholder="Secret key" ng-disabled="provider === null"
          ng-if="provider.value !== 'google-cloud-storage'">
        <textarea class="form-control" rows=16 ng-model="provider.credential"
          placeholder="Private key" ng-disable="provider === null"
          ng-if="provider.value === 'google-cloud-storage'">
        </textarea>
      </div>
      <div class="form-group" ng-if="provider !== null && provider.hasEndpoint">
        <label class="control-label">Object store endpoint</label>
        <input type="text" class="form-control" ng-model="provider.endpoint"
          ng-disabled="edit || provider === null" placeholder="Endpoint">
      </div>
      <div class="form-group" ng-if="provider !== null && provider.hasRegion">
        <label class="control-label">Object store region</label>
        <select class="form-control" ng-model="provider.region" ng-disabled="edit"
            ng-options="region.value as region.name for region in provider.regions"
            ng-if="provider.regions.length !== 0">
          <option value="">Select region&hellip;</option>
        </select>
        <input type="text" class="form-control" ng-model="provider.region"
            placeholder="Enter region"
            ng-if="provider.regions.length === 0" ng-disabled="edit">
      </div>
      <div class="row">
        <button class="btn btn-success" ng-click="actions.submitNewStore()"
          ng-if="edit !== true">Submit</button>
        <button class="btn btn-success" ng-click="actions.updateStore()"
          ng-if="edit">Edit</button>
        <button class="btn" ng-click="actions.cancelEdit()">Cancel</button>
      </div>
    </form>
  </div>
</div>
