<ng-include src="'views/partials/navbar.html'"></ng-include>

<div class="container main">
  <h1 class="page-header">Configure a virtual container</h1>

    <form class="form">
      <div class="row">
        <div class="col-sm-3">
          <h3>Data source</h3>
        </div>
        <div class="col-sm-5">
          <div class="form-group">
            <label class="control-label">Virtual container name</label>
            <input type="text" class="form-control" ng-model="name">
          </div>
          <div class="form-group"> 
            <label class="control-label">Primary data source</label>
            <div class="form-inline">
              <select class="form-control" disabled>
                <option value="{{originLocation.blobStoreId}}"
                  selected>{{storeNameMap[originLocation.blobStoreId]}}</option>
              </select>
              <select class="form-control" disabled>
                <option value="{{originStore.containerName}}"
                  selected>{{originLocation.containerName}}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <h3>Cache settings</h3>
        </div>
        <div class="col-sm-5">
          <div class="form-group">
            <label class="control-label">Cache location</label>
            <div class="form-inline">
              <select class="form-control" ng-model="cacheLocation.blobStoreId"
                  ng-options="store.id as store.nickname for store in stores">
              </select>
              <select class="form-control" ng-model="cacheLocation.containerName"
                ng-options="container for container in containersMap[cacheLocation.blobStoreId]">
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <h3>Archive settings</h3>
        </div>
        <div class="col-sm-5">
          <div class="form-group">
            <label class="control-label">Archive location</label>
            <div class="form-inline">
              <select class="form-control" ng-model="archiveLocation.blobStoreId"
                ng-options="store.id as store.nickname for store in stores">
              </select>
              <select class="form-control" ng-model="archiveLocation.containerName"
                ng-options="container for container in containersMap[archiveLocation.blobStoreId]">
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <h3>Migration settings</h3>
        </div>
        <div class="col-sm-5">
          <div class="form-group">
            <label class="control-label">Migration destination</label>
            <div class="form-inline">
              <select class="form-control" ng-model="migrationTargetLocation.blobStoreId"
                ng-options="store.id as store.nickname for store in stores">
              </select>
              <select class="form-control" ng-model="migrationTargetLocation.containerName"
                ng-options="container for container in containersMap[migrationTargetLocation.blobStoreId]">
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="btn-group">
          <button class="btn btn-danger" ng-click="actions.cancel()">Cancel</button>
          <button class="btn btn-success" ng-click="actions.editContainer()">Save changes</button>
        </div>
      </div>
    </form>
</div>
