<nav class="navbar navbar-inverse navbar-fixed-top" ng-controller="NavBarCtrl">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
          aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Bounce Storage</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-left">
        <li ng-class="{ dropdown: true,
            active: isActive('/create_store') || isActive('/stores/') }">
          <a href="" class="dropdown-toggle" data-toggle="dropdown"
            role="button">
              Object Stores <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li ng-repeat="store in stores" ng-if="stores.length > 0"
                ng-class="{ active: isActive('/stores/{{store.id}}')}">
              <a href="/#/stores/{{store.id}}">{{store.nickname}}</a>
            </li>
            <li class="divider" ng-if="stores.length > 0"></li>
            <li ng-class="{ active: isActive('/create_store') }">
              <a href="/#/create_store">Create a new store</a>
            </li>
          </ul>
        </li>
        <li ng-class="{ active: isActive('/settings') }">
          <a href="/#/settings">Settings</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
