<div class="container main">
  <h1 class="page-header">{{store.nickname}}</h1>
  <p class="lead" ng-if="store.region === null">
  Provider: {{provider.name}}
  </p>
  <p class="lead" ng-if="store.region !== null">
  Provider: {{providerLabel}}
  </p>

  <form class="form">
    <div class="form-group">
      <button class="btn btn-default" ng-click="actions.editStore(store)">
        <span class="glyphicon glyphicon-edit"></span> Edit {{store.nickname}} store
      </button>
    </div>
    <div class="form-group form-inline">
      <label>Container name</label>
      <input type="text" class="form-control" ng-model="newContainer" placeholder="container name">
      <button class="btn btn-default" ng-click="actions.addContainer()">
        <span class="glyphicon glyphicon-plus"></span> Add container
      </button>
    </div>
  </form>

  <div class="col-sm-6">
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Container</th>
            <th>Status</th>
            <th><!-- enhance/edit button --></th>
            <th><!-- bounce button --></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="container in containers">
            <td>
              <button class="btn btn-link" type="button" ng-click="actions.listContainer(container)">
                {{container.name}}
              </button>
            </td>
            <td><i>{{interpretStatus(container.status)}}</i></td>
            <td>
              <button class="btn btn-success" ng-click="actions.enhanceContainer(container)"
                  ng-if="container.status === 'UNCONFIGURED'">
                enhance!
              </button>
              <button class="btn btn-default" ng-click="actions.enhanceContainer(container)"
                  ng-if="container.status === 'CONFIGURED'">
                <span class="glyphicon glyphicon-edit"></span> edit
              </button>
            </td>
            <td>
              <button class="btn btn-primary" id="bounce-btn-{{container.name}}"
                  ng-click="actions.bounce(container)" ng-if="container.status === 'CONFIGURED'">
                bounce!
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- Edit container modal prompt -->
<div class="modal fade" id="configureContainerModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
        <h4 class="modal-title">Configure {{enhanceContainer.name}}</h4>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row" ng-repeat="location in locations">
            <p>
              <div ng-if="location.object.blobStoreId === -1" class="col-sm-6">
                <button class="btn btn-default"
                    ng-click="actions.prompt(location)"
                    ng-disabled="isLocationConfigurable(location)">
                  Add {{location.name}}
                </button>
              </div>
              <div ng-if="location.object.blobStoreId !== -1" class="col-sm-6">
                <button class="btn btn-default" ng-click="actions.prompt(location)">
                  Edit {{location.edit_name}} settings
                </button>
              </div>
            </p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" ng-click="actions.saveContainer()">Save</button>
      </div>
    </div>
  </div>
</div>

<!-- Enter settings for the policy tier -->
<div class="modal fade" id="configureTierModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
        <h4 class="modal-title">Edit {{editLocation.edit_name}} settings</h4>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <form class="form">
            <div class="form-group">
              <label class="control-label">Cache container</label>
              <div class="form-inline">
                <select class="form-control" ng-model="editLocation.object.blobStoreId"
                    ng-options="store.id as store.nickname for store in stores">
                  <option value="">Select object store&hellip;</option>
                </select>
                <select class="form-control" ng-model="editLocation.object.containerName"
                    ng-options="container.name as container.name for container in getContainersForPrompt()"
                    ng-disabled="editLocation.object.blobStoreId < 0">
                  <option value="">Select container&hellip;</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label">Copy to {{enhanceContainer.name}} after:</label>
              <div class="form-inline">
                <input class="form-control" type="text" ng-model="editLocation.copyDuration"
                    placeholder="duration" />
                <select class="form-control" ng-model="editLocation.copyUnits"
                    ng-options="d as d for d in durationUnits">
                  <option value="">Select time unit&hellip;</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label">Move to {{enhanceContainer.name}} after:</label>
              <div class="form-inline">
                <input class="form-control" type="text" ng-model="editLocation.moveDuration"
                    placeholder="duration" />
                <select class="form-control" ng-model="editLocation.moveUnits"
                    ng-options="d as d for d in durationUnits">
                  <option value="">Select time unit&hellip;</option>
                </select>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"
            ng-click="actions.updateDuration()">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Show container contents modal -->
<div class="modal fade" id="listContainerModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
        <h4 class="modal-title">Objects in {{listedContainer.name}}</h4>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <table class="table table-hover table-striped">
            <thead>
              <tr>
                <th>Name</th>
                <th>Size</th>
                <th>Locations</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="object in listedContainer.objects">
                <td>{{object.name}}</td>
                <td>{{object.size}}</td>
                <td>{{object.locations}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
