<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="http://bouncestorage.com">Bounce Storage</a>
    </div> 
  </div>
</nav>

<div class="container fill">
  <div class="jumbotron">
    <p><h1>Welcome to Bounce!</h1></p>
    <p><h4>To begin using Bounce, we need to setup an object store.</h4></p>
    <p><a class="btn btn-primary btn-lg"
      href="#/create_store/welcome"
      role="button">Create an object store</a>
    </p>
  </div>
</div>
