<!doctype html>
<html ng-app="bounce" id="ng-app">
<head>
  <meta charset="utf-8">
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular.js">
  </script>
  <script src="test.js"></script>
  <style>
    html, body {
      height: 100%;
      width: 100%;
      padding: 0;
      margin: 0;
    }
  </style>
</head>

<body ng-controller="BounceTest" class="ng-cloak">
<p>Bucket list:</p>
<div>
<select id="bucket-select" ng-model="options.bucketSelect">
  <option ng-repeat="b in buckets" value="{{b}}">{{ b }}</option>
</select>
</div>

<p>Blob list:</p>
<ul style="max-height: 50%; overflow-y: auto">
  <li ng-repeat="n in blobs.names">{{ n }}</li>
</ul>

<p>Bounce links:</p>
<p>{{ blobs.linkCount }}</p>

<form id="bounce-form">
    <button type="button" ng-click="actions.listBlobs()">List blobs</button>
    <button type="button" ng-click="actions.bounceBlobs()">Bounce blobs</button>
</form>

</body>
</html>
